.book-availability-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
  }
  
  .book-availability-form h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .input-container select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .back-button {
    background-color: #ccc;
    color: #fff;
    margin-right: 10px;
  }
  
  .search-button-isbook {
    background-color: #007bff;
  }
  
  .search-button-isbook a{
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 768px) {
    .book-availability-form {
      width: 80%;
    }
  }
  
  @media (max-width: 600px) {
    .book-availability-form {
      width: 90%;
      padding: 10px;
    }
    
    .input-container select {
      width: 100%;
    }
    
    .button-container {
      flex-direction: column;
    }
    
    .back-button {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  