.issue-book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .issue-book-form h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .input-container input[type="text"],
  .input-container input[type="date"],
  .input-container textarea {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .input-container select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    /* background-image: linear-gradient(45deg, transparent 50%, #007bff 50%),
      linear-gradient(135deg, #007bff 50%, transparent 50%); */
    background-position: right 20px top 50%, right 10px top 50%;
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .input-container select:focus {
    outline: none;
    box-shadow: 0 0 3px #007bff;
  }
  
  .input-container option {
    font-size: 16px;
  }
  
  .input-container textarea {
    resize: vertical;
  }
  
  .button-container button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: #fff;
    margin-right: 10px;
  }
  
  .confirm-button {
    background-color: #007bff;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .issue-book-form {
      width: 80%;
    }
  }
  
  @media (max-width: 600px) {
    .issue-book-form {
      width: 90%;
    }
  }
  